.git
.gitignore
.github
README.md
LICENSE
Docker/
docker-compose*.yml
Dockerfile
.dockerignore

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
dist/

.env
*.env*
.config

go.work
go.work.sum

/storage/
*.tmp
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sql
*.gz
*.zip
/data/
/db_data/
/postgres_data/

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

/lab/
/docs/