# app
PORT=
MODE= # DEBUG | PRODUCTION
SNOW_FLAKE_EPOCH= # unix epoch / unix mili (int64)
FRONTEND_URL= # url
MAX_PAYMENT_TIME= # 1h (1 hour)
ALLOW_ORIGIN= # url and multiple url with separator ","

# debug
USE_MOCK_USER= # boolean
FILE_MOCK_USER= # json file

# mongodb
MONGODB_URI=
MONGODB_DATABASE=

# session
SESSION_REFRESH_DURATION= # example : 1mo (1 month)
SESSION_ACCESS_DURATION= # example : 5m (5 minute)
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
HASH_KEY=
BLOCK_KEY=

# provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=